<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Events</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="event-list-container">
        <h2>Your Events</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        
        <a href="{{ url_for('events.eventcreate') }}" class="btn">Create New Event</a>

        {% if events %}
        <ul>
        {% for event in events %}
            <li>
            {{ event.session_title }}
            {% if event.status == "submitted" %}
                <span style="color: green; font-weight: bold;">Submitted</span>
            {% else %}
            <span style="color: yellow; font-weight: bold;">Draft</span>
                <form action="{{ url_for('events.submit_event', event_id=event.id) }}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to submit this event?');">
                <button type="submit">Submit</button>
                </form>
            {% endif %}

            <form action="{{ url_for('events.edit_event', event_id=event.id) }}" method="get" style="display:inline;">
                <button type="submit">Edit</button>
            </form>

            <form action="{{ url_for('events.delete_event', event_id=event.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this event?');">
                <button type="submit">Delete</button>
            </form>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>You have not created any events.</p>
        {% endif %}

  </div>
</body>
</html>
