<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Event</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="event-create-container">
    <h2>Create Event Details</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <div class="flash-messages">
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
          </div>
      {% endif %}
    {% endwith %}
    <form action="/eventcreate" method="post">
      <input type="hidden" name="user_id" value="{{ current_user.id }}">
      
      <label for="clas_type">CLAS Type</label>
      <select name="clas_type">
        <option value="Thursday CLAS">Thursday CLAS</option>
        <option value="Open CLAS">Open CLAS</option>
      </select>
      
      <label for="format">Format</label>
      <select name="format">
        <option value="Poster">Poster</option>
        <option value="Presentation">Presentation</option>
        <option value="Wildcard">Wildcard</option>
      </select>
      
      <label for="department">Department</label>
      <input type="text" name="department" placeholder="Department">
      
      <label for="course_number">Course Number</label>
      <input type="text" name="course_number" placeholder="Course Number">
      
      <label for="course_title">Course Title</label>
      <input type="text" name="course_title" placeholder="Course Title">
      
      <label for="num_entries">Number of Entries</label>
      <input type="number" name="num_entries" placeholder="Number of Entries">
      
      <label for="num_students">Number of Students</label>
      <input type="number" name="num_students" placeholder="Number of Students">
      
      <label for="session_title">Session Title</label>
      <input type="text" name="session_title" placeholder="Session Title">
      
      <label for="session_length">Session Length (in minutes)</label>
      <input type="number" name="session_length" placeholder="Session Length">
      
      <label for="individual_entry_length">Individual Entry Length (in minutes)</label>
      <input type="number" name="individual_entry_length" placeholder="Individual Entry Length">
      
      <label for="room_request">Room Request</label>
      <input type="text" name="room_request" placeholder="Room Request">
      
      <label for="special_request">Special Requests</label>
      <input type="text" name="special_request" placeholder="Special Requests">
      
      <button type="submit" name="action" value="draft">Save Draft</button>
      <button type="submit" name="action" value="submit">Submit Event</button>
    </form>
  </div>
</body>
</html>